/* line 3, ../sass/app.sass */
body {
  margin: 5%;
}

/* line 6, ../sass/app.sass */
.table {
  margin: 0;
}

/* line 9, ../sass/app.sass */
.widget {
  border: 1px solid #c8c9c7;
  border-radius: 4px;
  padding: 0;
}
/* line 13, ../sass/app.sass */
.widget .titlebar {
  border-bottom: 1px solid #c8c9c7;
}
/* line 17, ../sass/app.sass */
.widget .titlebar .buttons button {
  height: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  float: right;
  border-left: 1px solid #c8c9c7;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background-color: white;
  box-shadow: none;
  background-image: none;
}
/* line 30, ../sass/app.sass */
.widget .titlebar .title {
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 34, ../sass/app.sass */
.widget .titlebar .title, .widget .titlebar .buttons {
  padding-right: 5px;
  padding-left: 5px;
}
